<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bulma CSS framework for styling -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Tracker</title>
</head>
<body>
    <section class="hero is-small is-success mb-4">
        <div class="hero-body">
            <h1 class="title is-1">Dosage Tracker</h1>
            <p class="subtitle is-4">
                Your lightweight dosage tracker web app
            </p>
            <p class="subtitle is-4"> Welcome {{ user.username }}</p>
            
        </div>
        {% if user.is_authenticated %}
            {% csrf_token %}
                <a href="{% url 'logout' %}" ><button  type="button" class="button is-link is-pulled-right"> Logout
                </button></a>
                
       {% endif %}
    </section>
    <a href="{% url 'dosagelist' %}">My Dosages List</a>
    <div class="container">
        <div class="columns">

            {% block content %}

            {% endblock content %}

        </div>
    </div>
</body>
</html>